header{
	text-align: center;
	margin-top: 5%;
}

.vertical {
	margin-top: 10%;
}

.container-fluid.my-container{
	min-height: 100%;
	height:auto !important;
	height: 100%;
	padding: 0;
	position: relative;
}

section{
	margin: 0 auto;
	padding-bottom: 60px;
}

