<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head ('个人信息')">
</head>
<body>
<nav th:replace="index::navi"></nav>

<!-- Begin page content -->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="page-header">
                <h1>个人信息</h1>
            </div>
            <p class="lead">
                当前用户名: <span th:text="${session.META_USER.username}"></span>
            </p>
            <p class="lead" th:if="${session.META_USER.role}=='user'">
                当前积分: <span th:text="${session.META_USER.point}"></span>
            </p>
            <p class="lead" th:if="${session.META_USER.role}=='admin'">
                用户组: <span th:text="${session.META_USER.role}"></span>
            </p>
            <p class="lead"><a href="/user/change">修改密码</a>。</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<footer th:replace="index::footer"></footer>
</body>
</html>