<!DOCtype html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewporrt" content ="width=device-width, initial-scale=1"/>


		<title>大数据平台的元数据管理系统</title>
		<meta name="description" content=" "/>
		<meta name="keywords" content="metadata"/>
		<meta name="author" content=" "/>
        <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="/css/login.css" media="screen"/>
    <link rel="stylesheet" href="/css/page.css" media="screen"/>
    <link rel="stylesheet" href="/css/detail.css" media="screen"/>

		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</head>
	<body>
    <div th:include="index::navi"></div>
    

		<div class="container">
      <div class="row">
        <h1 class="col-sm-offset-2">Name</h1>
        <div class="col-sm-6 col-sm-offset-3 table-responsive">
            <table class="table" >
              <tbody>
                <tr>
                  <td>MetaModel</td>
                  <td>Lorem</td>
                  
                </tr>
                
                 <tr>
                  <td>type</td>
                  <td>Lorem</td>
                  
                </tr>

                 <tr>
                  <td>containerClass</td>
                  <td>Lorem</td>
                  
                </tr>

                 <tr>
                  <td>packageClass</td>
                  <td>Lorem</td>
                  
                </tr>

                 <tr>
                  <td>assetClass</td>
                  <td>Lorem</td>
                  
                </tr>

                <tr>
                  <td>fieldClass</td>
                  <td>Lorem</td>
                  
                </tr>

                <tr>
                  <td>containerModelPath</td>
                  <td>Lorem</td>
                  
                </tr>

                <tr>
                  <td>packageModelPath</td>
                  <td>Lorem</td>
                  
                </tr>

                <tr>
                  <td>assetModelPath</td>
                  <td>Lorem</td>
                  
                </tr>

                <tr>
                  <td>fieldModelPath</td>
                  <td>Lorem</td>
                  
                </tr>

                <tr>
                  <td>adapterJarPath</td>
                  <td>Lorem</td>
                  
                </tr>

                <tr>
                  <td>adapterJarPath</td>
                  <td>Lorem</td>
                  
                </tr>

                <tr>
                  <td>adapterJspath</td>
                  <td>Lorem</td>
                  
                </tr>

              </tbody>
            </table>
            
            
          </div>
    </div>
  </div>
         

    <footer>
      <p>Copyright © Fudan University 2015</p> 
      <p>All Rights Reserved</p>
    </footer>


    <script>
         $(".navbar-collapse>ul>li").eq(2).addClass("active");
    </script>
	</body>
</html>
